@{
    ViewData["Title"] = "Boards";
}

<div>
    <h3>Борды</h3>


<div class="card">
  <div class="card-body">
      <div style="display:flex; width:100%; justify-content: space-between;">
          
          <div style="width: 20%;" class="mb-2"><a class="btn bg-gradient-success w-100 mb-0 toast-btn" asp-controller="Boards" asp-action="Create">Добавить</a></div>
      </div>
  <div class="tableElement" style="width: 100%; height: 30em; overflow: auto;">      
      <table class="table table-bordered table-hover m-0">
      <thead style="background-color:#6c757d; position: sticky; top:-1px; z-index:500;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Наименование</th>

        </tr>
      </thead>
      <tbody>
        @foreach(var item in Model){
        <tr>
          <th scope="row">@item.Id</th>
          <td>@item.Name</td>
        </tr>
        }
      </tbody>
</table>
  </div>
    
  </div>
  </div>
  </div>